@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap');

body {
  font-family: "Lato", sans-serif;
  @apply bg-gray-50 dark:bg-gray-600
}

* { @apply transition-all; }

a { @apply underline text-primary; }

#page {
  @apply overflow-hidden flex rounded-md;
  display: flex;
  width: 21cm;
  height: 29.7cm;
}

#sidebar { @apply shadow-lg; }

#sidebar, #main {
  @apply box-border;
  padding: 4% 2.5%
}

.lato {
  font-family: "Lato", sans-serif;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
}

.section { margin-bottom: 1rem; }
#sidebar .section { margin-bottom: 0.25rem; }
.section h2 {
  @apply uppercase text-sm font-semibold;
  margin-bottom: 0.25rem;
}

.section div:last-child {
  margin-bottom: 0;
}

.point {
  @apply flex flex-col;
  font-family: "Open Sans", sans-serif;
  padding-bottom: 0.5rem;
}

.tag {
  @apply flex items-center;
  padding-right: 0.6rem;
  padding-bottom: 0.1rem;
}

.field {
  @apply flex flex-col mb-3 space-y-1 z-0;
}

.input {
  @apply w-full px-4 py-2 text-base text-black transition duration-500 ease-in-out transform rounded-md border border-primary;
}

.label {
  @apply text-base capitalize;
}

.button {
  @apply px-8 py-2 text-base font-medium transition duration-500 ease-in-out transform rounded-md;
}

@media print
{
  #page {
    @apply rounded-none border-none;
  }
  .no-print, .no-print * { display: none !important; }
  .wrapper {
    @apply p-0 w-min flex-none;
  }
}
