@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap');

body {
  font-family: "Lato", sans-serif;
  @apply scrollbar scrollbar-thumb-primary scrollbar-track-gray-50 scrollbar-thin
}

a { @apply underline text-primary; }

#page {
  @apply overflow-hidden flex bg-white rounded-md border border-gray-200;
  width: 21cm;
  height: 29.7cm;
}

#sidebar { @apply shadow-lg; }

#sidebar, #main {
  @apply box-border;
  padding: 4% 2.5%
}

.lato {
  font-family: "Lato", sans-serif;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
}

.section { margin-bottom: 1rem; }
#sidebar .section { margin-bottom: 0.25rem; }
.section h2 {
  @apply uppercase text-sm font-semibold;
  margin-bottom: 0.25rem;
}

.section div:last-child {
  margin-bottom: 0;
}

.point {
  @apply flex flex-col;
  font-family: "Open Sans", sans-serif;
  padding-bottom: 0.5rem;
}

.tag {
  @apply flex items-center;
  padding: 0.1rem 0.5rem;
}

.field {
  @apply flex flex-col mb-3 space-y-1 z-0;
}

.input {
  @apply w-full px-4 py-2 text-base text-black transition duration-500 ease-in-out transform rounded-md border border-primary;
}

.label {
  @apply text-base capitalize;
}

.button {
  @apply px-8 py-2 text-base font-medium transition duration-500 ease-in-out transform rounded-md;
}

/* Starting Input */
.datePicker input {
  @apply rounded-md px-4 py-2 border border-primary;
}

.datePicker input:focus {
  @apply focus:outline-none !important;
}

/* Datepicker Container */
.react-datepicker__month-container {
  @apply shadow border-none !important;
}

.react-datepicker__triangle {
  @apply hidden !important;
}

/* Month Navigation Button */
.react-datepicker__navigation {
  top: 10px !important;
}

/* Month Navigation Icons */
.react-datepicker__navigation-icon {
  @apply border-white text-white bg-white !important;
}

/* Selected Date */
.react-datepicker__day--selected {
  @apply bg-primary !important;
}

.react-datepicker__header, .react-datepicker__header * {
  @apply bg-primary text-white !important;
}

@media print
{
  .page {
    @apply rounded-none border-none;
  }
  .no-print, .no-print * { display: none !important; }
  .wrapper {
    @apply p-0 w-min flex-none;
  }
}
